PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/studysafe
# BASE DE DATOS SEPARADA solo para pruebas (el nombre debe contener "test"; se borra al correr las pruebas)
MONGO_URI_TEST=mongodb://127.0.0.1:27017/studysafe_test
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio_de_32_caracteres
FRONTEND_URL=http://localhost:3000
